* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blackColor: #000;
    --whiteColor: #fff;
    --whiteLight: #fcfcfc;
    --green1: #2ecc71;
    --green2: #badc58; 
    --redLight: #f8aeae;
    --redDark: #622d24;
}
body {
    background: var(--whiteLight);
    font-family: 'Raleway', sans-serif;
}

.form-row {
    display: flex;
    height: calc(100vh - 70px);
}

.left-side {
    width: 60%;
    background: url("../img/computer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.right-side {
    width: 40%;
}

