.form-container {
  display: flex;
  height: calc(100vh - 70px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  width: 70%;
  background: var(--whiteColor);
  border-radius: 3px;
  box-shadow: 0 16px 32px 0 rgba(222, 230, 237, 0.4);
  padding: 25px;
}

.errors {
  width: 70%;
  padding: 14px 18px;
  margin-bottom: 6px;
  background: var(--redLight);
  color: var(--redDark);
  border-left: 4px solid var(--redDark);
}

.error {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.alert-success {
  width: 70%;
  padding: 14px 18px;
  margin-bottom: 6px;
  background: var(--green2);
  color: var(--redDark);
  border-left: 4px solid var(--green1);
  font-size: 14px;
}

label {
  display: block;
  color: silver;
  margin-bottom: 8px;
}

.group {
  margin: 7px 0;
}

.control {
  width: 100%;
  padding: 13px 11px;
  border: none;
  outline: none;
  background: var(--whiteLight);
  border-left: 4px solid var(--green1);
  margin-bottom: 7px;
}

.btn {
  border: none;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-sweet {
  padding: 15px 7px;
  width: 100%;
  color: var(--whiteColor);
  background: linear-gradient(to right, var(--green1), var(--green2));
  font-size: 15px;
  text-transform: uppercase;
}

.group h3 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 15px;
}
