.nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background: var(--whiteColor);
  box-shadow: 0 16px 32px 0 rgba(221, 230, 237, 0.4);
}

.nav ul {
  list-style: none;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  text-decoration: none;
  display: block;
  color: var(--blackColor);
  padding: 0 15px;
}

.left-nav {
  width: 50%;
}

.right-nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
