#header {
  width: 100%;
  padding: 0 104px;
  height: 350px;
  margin-top: 20px;
}

.bannerImage {
  width: 100%;
  background: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  color: var(--whiteColor);
  align-items: center;
  justify-content: center;
}

/* .bannerImage div {
    width: 500px;
  } */

.bannerImage div h1 {
  font-size: 40px;
  text-align: center;
}

.bannerImage div p {
  margin-top: 10px;
  font-size: 14px;
}

.msg {
  margin: 15px 0;
}

.container {
  padding: 0 104px;
}

.alert-success {
  width: 70%;
  padding: 14px 18px;
  margin-bottom: 6px;
  background: var(--green2);
  color: var(--whiteLight);
  border-left: 4px solid var(--green1);
  font-size: 14px;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

/* Posts */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-3 {
  width: 33.33%;
  padding: 20px;
}

.post {
  overflow: hidden;
  width: 100%;
  box-shadow: 0 16px 32px 0 rgba(221, 230, 237, 0.4);
  text-align: center;
}

.postImg {
  width: 100%;
  height: 150px;
  min-width: 150px;
  overflow: hidden;
}

.postImg img {
  width: 100%;
  height: 170px;
  transition: all 0.5s linear;
}

.postImg img:hover {
  transform: scale(1.5);
}

.postTitle {
  margin: 12px 8px;
  height: 50px;
}

.postTitle h4 a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 17px;
}

.postBody {
  padding: 10px 8px;
}

.postFooter {
  width: 100%;
  padding: 8px;
  display: flex;
  border-bottom: 4px solid var(--green1);
}

.creator {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.postTime {
  width: 50%;
  text-align: left;
  color: var(--green1);
  font-weight: bolder;
  font-size: 18px;
}

.pagination {
  width: 100%;
  margin: 20px 0;
}

.pagination ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination ul li a {
  text-decoration: none;
  display: flex;
  width: 50px;
  height: 50px;
  background: linear-gradient(to right, var(--green1), var(--green2));
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--whiteColor);
  margin: 0 7px;
  font-weight: 500;
}

.prev {
  font-size: 12px;
}

.active {
  background: transparent !important;
  border: 1px solid var(--green1) !important;
  color: var(--green1) !important;
}

.x-center {
  justify-content: center;
}

.details {
  width: 100%;
}

.details_link {
  padding: 15px 14px;
  background: var(--whiteColor);
  border-bottom: 1px solid #fafafa;
}

.details_link a {
    font-size: 18px;
}

.details_title {
  padding: 15px 14px;
  background: var(--whiteColor);
}

.details_img {
  width: 100%;
}

.details_img img {
  width: 400px;
}

.details_post {
  padding: 15px 14px;
  background: var(--whiteColor);
}

.btn-sweet {
    padding: 15px 7px;
    width: 100%;
    color: var(--whiteColor);
    background: linear-gradient(to right, var(--green1), var(--green2));
    font-size: 15px;
    text-transform: uppercase;
}

.btn-warning {
    padding: 10px 20px;
    display: inline-block;
    color: var(--whiteColor);
    font-size: 13px;
    background: linear-gradient(to right, #ffc107, #ff5722);
    border-radius: 30px;
}

.btn-danger {
    padding: 10px 20px;
    display: inline-block;
    color: var(--whiteColor);
    font-size: 13px;
    background: linear-gradient(to right, #f44336, #e91e63);
    border-radius: 30px;
}
