.postFormContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
}

.postFormContainer form {
  width: 450px;
  background: var(--whiteColor);
  padding: 25px;
}

#imageLabel {
  display: none;
}

.fileLabel {
  width: 100%;
  padding: 13px 11px;
  border: 2px solid var(--green1);
  font-size: 14px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  color: var(--green1);
}
.errors {
  width: 450px;
  padding: 14px 18px;
  margin-bottom: 6px;
  background: var(--redLight);
  color: var(--redDark);
  border-left: 4px solid var(--redDark);
}

.error {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

label {
  display: block;
  color: silver;
  margin-bottom: 8px;
}

.group {
  margin: 7px 0;
}

.control {
  width: 100%;
  padding: 13px 11px;
  border: none;
  outline: none;
  background: var(--whiteLight);
  border-left: 4px solid var(--green1);
  margin-bottom: 7px;
}

.btn {
  border: none;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-sweet {
  padding: 15px 7px;
  width: 100%;
  color: var(--whiteColor);
  background: linear-gradient(to right, var(--green1), var(--green2));
  font-size: 15px;
  text-transform: uppercase;
}

.group h3 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 15px;
}
