<div class="msg">
    <div class="container">
        <% if(locals.message.success) {%>
        <div class="alert-success"><%= message.success %></div>
        <% } %>
    </div>
</div>
<div class="container">
    <div class="row">
        <% if(posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <div class="col-3">
                    <div class="post">
                        <div class="postImg">
                            <img src="/assets/img/<%= post.image %>" alt="" />
                        </div>
                        <div class="postTitle">
                            <h4><a href="/post_details/<%= post._id %>"><%= post.title.slice(0, 30) %>...</a></h4>
                        </div>
                        <div class="postBody">
                            <%= post.body.slice(0, 70) %>
                        </div> 
                        <div class="postFooter">
                            <span class="postTime"><sup><%= formate(post.updatedAt, "d mmmm yyyy") %></sup></span>
                            <span class="creator"><b><%= post.userName %></b></span>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
        <p>No posts are available for this page</p>
        <% } %>
    </div>

    <%
    let totalPages = Math.ceil(count/perPage); 
    let startLoop = currentPage;
    let diff = totalPages - currentPage;
    if(diff <= 3) {
        startLoop = totalPages - 3;
    }
    let endLoop = parseInt(startLoop) + 3;
    if(startLoop <= 0) {
        startLoop = 1;
    } 
    if(count > 3 && posts.length !== 0) { %> 
    <div class="pagination">
        <ul>
            <% if(currentPage > 1) { %>
                <li><a href="/posts/<%= currentPage - 1 %>" class="prev">Prev</a></li>
            <% } %>
            <% for(let i=startLoop; i<=endLoop; i++) { let active = i == currentPage ? 'active' : '' %>
                <li><a href="/posts/<%= i %>" class="<%= active  %>"><%= i %></a></li>
            <% } if(currentPage < totalPages) { %>
                <li><a href="/posts/<%= parseInt(currentPage) - 1 %>" class="prev">Next</a></li>
            <% } %>
        </ul>
    </div>
    <% } %>
</div>