<div class="form-container">
    <% if(locals.message.success) { %>
        <div class="alert-success"><%= message.success %></div>
    <% } %>

    <% if(errors.length > 0) { %>
        <div class="errors">
            <% errors.forEach(error => { %>
                <span class="error"><%= error.msg %></span>
            <% }) %>
        </div>
    <% } %>
    <form action="/userLogin" method="POST">
        <div class="group">
            <h3>User login</h3>
        </div>
        <div class="group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="control" placeholder="Email" value=<% if(inputs) { %> <%= inputs.email %> <% } %>  >
        </div>
        <div class="group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="control" placeholder="Password" value=<% if(inputs) { %> <%= inputs.password %> <% } %> >
        </div>
        <div class="group">
            <input type="submit" class="btn btn-sweet" value="Login"/>
        </div>
    </form>
  </div>
  