<nav class="nav">
    <ul class="left-nav">
        <li><a href="/">Home</a></li>
        <% if(login) { %>
        <li><a href="/posts/1">Posts</a></li>
        <li><a href="/add_post">Add Post</a></li>
        <% } else { %>
        <li><a href="/about">About</a></li>
        <% } %>
    </ul>
    <ul class="right-nav">
        <% if(login) { %>
        <li><a href="/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/">Register</a></li>
        <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>