<div class="postFormContainer">
    <% if(errors.length > 0) { %>
        <div class="errors">
            <% errors.forEach(error => { %>
                <span class="error"><%= error.msg %></span>
            <% }) %>
        </div>
    <% } %>
    <form action="/update_post" method="post">
        <div class="group">
            <h3>Update post</h3>
        </div>
        <input type="hidden" name="post_id" value="<%= post._id %>" />
        <div class="group">
            <label for="title">Title</label>
            <input type="text" name="post_title" id="post_title" class="control" placeholder="Post Title" value="<%= post.title %>" />
        </div>
        <div class="group">
            <label for="body">Body</label>
            <textarea name="post_body" id="post_body" class="control" cols="30" rows="10"><%= post.body %></textarea>
        </div>
        <div class="group">
            <input type="submit" value="Update Post" class="btn btn-sweet" />
        </div>
    </form>
</div>