<div class="postFormContainer">
    <% if(errors.length > 0) { %>
        <div class="errors">
            <% errors.forEach(error => { %>
                <span class="error"><%= error.msg %></span>
            <% }) %>
        </div>
    <% } %>
    <form action="/save_post" method="post" enctype="multipart/form-data">
        <div class="group">
            <h3>Create new post</h3>
        </div>
        <div class="group">
            <label for="title">Title</label>
            <input type="text" name="post_title" id="post_title" class="control" placeholder="Post Title" value="<%= post_title %>" />
        </div>
        <div class="group">
            <label for="body">Body</label>
            <textarea name="post_body" id="post_body" class="control" cols="30" rows="10"><%= post_body %></textarea>
        </div>
        <div class="group">
            <label for="imageLabel" class="fileLabel">Upload Image</label>
            <input type="file" name="post_image" id="imageLabel" />
        </div>
        <div class="group">
            <input type="submit" value="Add Post" class="btn btn-sweet" />
        </div>
    </form>
</div>