<div class="container">
    <div class="row x-center">
        <div class="col-6">
            <div class="post">
                <div class="details">
                    <div class="details_link">
                        <a href="/post_update/<%= details._id %>" class="btn btn-warning">Update &rarr;</a>
                        <a href="/post_delete/<%= details._id %>" class="btn btn-danger">Delete &rarr;</a>
                    </div>
                    <div class="details_title">
                        <h4><%= details.title %></h4>
                    </div>
                    <div class="details_img">
                        <img src="/assets/img/<%= details.image %>" />
                    </div>
                    <div class="details_post">
                        <p><%= details.body %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>