<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/assets/css/app.css" />
    <link rel="stylesheet" href="/assets/css/nav.css" />
    <link rel="stylesheet" href="/assets/css/post.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap" rel="stylesheet" />
</head>

<body>
    <%- include('components/navbar.ejs') %>
    <header id="header">
        <div class="bannerImage">
            <div>
                <h1>Best places in ladakh</h1>
                <p>There are couple of places in ladakh where you will feel exploring like a heaven</p>
            </div>
        </div>
    </header>
    <%- include('components/postDetails.ejs') %>
</body>
</html>