<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="assets/css/app.css" />
  <link rel="stylesheet" href="assets/css/nav.css" />
  <link rel="stylesheet" href="assets/css/profile.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap" rel="stylesheet" />
</head>

<body>
  <%- include('components/navbar.ejs') %>
    <div class="profile">
      <div class="profileCard">
        <div class="profileImage">
          <span><%= user.name.charAt(0) %></span>
        </div>
        <div class="profileName"><%= user.name %></div>
        <div class="profileEmail"><%= user.email %></div>
      </div>
    </div>
</body>

</html>